@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #root, .App{
  height: 100%;
}

 *{
   font-family: 'Lato', sans-serif;
 }

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

div.button-containers{
  display: flex;
  width: 100%;
}

.initial-text{
  padding-left: 5px;
}

.initial-text:after{
  content: "You don't have any task. Create a new task here!";
  font-size: 16px;
}

@media (max-width: 500px) {
  .fox-icon-container, .github-icon-container, .toggle-showall-button{
    display: none;
  }
  .initial-text{
    padding:0;
  }
  .initial-text:after{
    content: "You don't have any task. Create a new task in your newtab page!";
  }
}
