/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* React DayPicker */
.DayPicker *:focus{
  outline: 0;
}

.DayPicker{
  background-color: white;
}

.Overlay{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container{
  display: flex;
  flex-direction: column;
}
.remove-duedate-button{
  border: none;
  background-color: salmon;
  color: white;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  width: 100%;
  height: 22px;
  transition: all 0.2s;
}

.remove-duedate-button:hover{
  cursor: pointer;
  background-color: white;
  color: gray;
}

.remove-duedate-button:focus{
  outline: none;
}

.DayPicker-Day, .DayPicker-WeekNumber{
  font-size: 17px;
}

.DayPicker-Caption{
  font-size: 17px;
}
