#checkbox{
  display: inline-block;
  border: 2px solid black;
  background-color: white;
}

#checkbox:hover{
  cursor: pointer;
}

.st0{
    fill:#FFFFFF;
    stroke:#000000;
    stroke-width:20;
    stroke-miterlimit:10;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
}
