/* Default theme */

.calendar-button #calendar{
  fill: lightgray;
}

.calendar-button:hover #calendar{
  fill: gray;
}

.delete-button:hover .lib, .delete-button:hover .can{
  background-color: gray;
}

.delete-button span.lib {
  background-color: lightgray;
}

.delete-button span.can {
  background-color: lightgray;
}

.toggle-showall-button{
  border: 2px lightgray solid;
  color: lightgray;
  background-color: white;
}

.toggle-showall-button:hover{
  border-color: darkgray;
  color: darkgray;
}

.toggle-showall-button:active{
  border-color: gray;
  color: gray;
}
