.delete-button {
  display: inline-block;
  padding-top: 8px;
  padding-right: 20px;
}

.delete-button:hover{
  cursor: pointer;
}

.delete-button:hover .lib, .delete-button:hover .can{
  background-color: gray;
}

.delete-button span.lib {
  display: block;
  height: 3px;
  width: 17px;
  background-color: lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  transition: all ease 0.4s, background-color 0;
  /*-webkit-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;*/
}

.delete-button:hover span.lib {
  animation: lib .4s;
  -webkit-animation: lib .4s;
  -ms-animation: lib .4s;
  -moz-animation: lib .4s;
  -o-animation: lib .4s;
}

.delete-button span.can {
  display: block;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 15px;
  width: 13px;
}

@keyframes lib {
  0%,
  100% {
    transform: translateY(0) skewY(0);
  }
  20% {
    transform: translateY(-5px) skewY(-10deg);
  }
  40% {
    transform: translateY(-5px) skewY(10deg);
  }
  80% {
    transform: translateY(-5px) skewY(-10deg);
  }
}

/*@-webkit-keyframes lib {
  0%,
  100% {
    -webkit-transform: translateY(0) skewY(0);
  }
  20% {
    -webkit-transform: translateY(-5px) skewY(-10deg);
  }
  40% {
    -webkit-transform: translateY(-5px) skewY(10deg);
  }
  80% {
    -webkit-transform: translateY(-5px) skewY(-10deg);
  }
}

@-o-keyframes lib {
  0%,
  100% {
    -o-transform: translateY(0) skewY(0);
  }
  20% {
    -o-transform: translateY(-5px) skewY(-10deg);
  }
  40% {
    -o-transform: translateY(-5px) skewY(10deg);
  }
  80% {
    -o-transform: translateY(-5px) skewY(-10deg);
  }
}

@-moz-keyframes lib {
  0%,
  100% {
    -moz-transform: translateY(0) skewY(0);
  }
  20% {
    -moz-transform: translateY(-5px) skewY(-10deg);
  }
  40% {
    -moz-transform: translateY(-5px) skewY(10deg);
  }
  80% {
    -moz-transform: translateY(-5px) skewY(-10deg);
  }
}*/
