.todolist-container{
  width: 700px;
}

@media (max-width: 500px) {
  .todolist-container{
    width: 250px;
  }
  .create-todo{
    display: none;
  }
}

.create-todo{
  width: 100%;
  border: none;
  font-size: 36px;
  letter-spacing: 1px;
  margin-top: 200px;
  padding-left: 5px;
}

.create-todo:focus{
  outline: none;
}
