.todo-body{
  display: flex;
}

.todo-checkbox{
  flex: 0 0 30px;
  padding-top: 23px
}

.todo-content{
  flex: 1;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.todo-footer-container{
  display: flex;
  justify-content: space-between;
}

.edit-button{
  margin-left: 10px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.taskname:hover .edit-button{
  display: inline-block;
}

input#edit{
  border: none;

  border-bottom: 1px solid black;
  margin-bottom: -1px;

  padding: 0;
  font-size: 20px;
  letter-spacing: 1px;

  height: 24px;
}

input#edit:focus{
  outline: none;
  width: 100%;
}

.todo-footer-buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

span.dueDate{
  color: salmon;
  font-size: 17px;
  margin-left: 5px;
}

@media (max-width: 500px) {
  .todo-content{
    font-size: 15px;
  }
  .todo-checkbox{
    padding-top: 20px
  }
  span.dueDate{
    font-size: 13px;
  }
}
