.calendar-button{
  width: 23px;
  height: 23px;
  padding-top: 6px;
  margin: 0 10px;
}

.calendar-button #calendar{
  fill: lightgray;
}

.calendar-button:hover #calendar{
  fill: gray;
  cursor: pointer;
}
